pipeline/Measurement_QIF_In_Measurement_Results_Set.json
{
	"name": "Measurement_QIF_In_Measurement_Results_Set",
	"properties": {
		"activities": [
			{
				"name": "Measurement_Results_Set_DataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Measurement_Results_Set_DataFlow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "UpdateMaxID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Measurement_Results_Set_DataFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateIDMax]",
					"storedProcedureParameters": {
						"IDMax": {
							"value": {
								"value": "@activity('Measurement_Results_Set_DataFlow').output.runStatus.output.StoredProcedureParamSink.value[0].IDMax",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"QPID": {
							"value": {
								"value": "@activity('Measurement_Results_Set_DataFlow').output.runStatus.output.StoredProcedureParamSink.value[0].QPID",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MFIN Database",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-18T19:23:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}