AeroHubDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AeroHubDataFactory"
		},
		"InitialQIFIn Trigger_properties_Initial_QIF_In_parameters_FileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"InitialQIFIn Trigger_properties_Initial_QIF_In_parameters_FilePath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"InitialQIFIn Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0fa38953-5cae-4448-b99b-2cb26dc3aa85/resourceGroups/AeroHubPlatform/providers/Microsoft.Storage/storageAccounts/aerohubblobstorage1"
		},
		"Shain Initial QIF Trigger_properties_Initial_QIF_In_copy1_parameters_FileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"Shain Initial QIF Trigger_properties_Initial_QIF_In_copy1_parameters_FilePath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"Shain Initial QIF Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0fa38953-5cae-4448-b99b-2cb26dc3aa85/resourceGroups/AeroHubPlatform/providers/Microsoft.Storage/storageAccounts/aerohubblobstorage1"
		},
		"Measurement_QIF_Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/0fa38953-5cae-4448-b99b-2cb26dc3aa85/resourceGroups/AeroHubPlatform/providers/Microsoft.Storage/storageAccounts/aerohubblobstorage1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/InitialQIFIn Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Initial_QIF_In",
							"type": "PipelineReference"
						},
						"parameters": {
							"FileName": "[parameters('InitialQIFIn Trigger_properties_Initial_QIF_In_parameters_FileName')]",
							"FilePath": "[parameters('InitialQIFIn Trigger_properties_Initial_QIF_In_parameters_FilePath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/initialqifin/blobs/",
					"blobPathEndsWith": ".qif",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('InitialQIFIn Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Shain Initial QIF Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Initial_QIF_In_copy1",
							"type": "PipelineReference"
						},
						"parameters": {
							"FileName": "[parameters('Shain Initial QIF Trigger_properties_Initial_QIF_In_copy1_parameters_FileName')]",
							"FilePath": "[parameters('Shain Initial QIF Trigger_properties_Initial_QIF_In_copy1_parameters_FilePath')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/pythonin/blobs/",
					"blobPathEndsWith": ".qif",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Shain Initial QIF Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Measurement_QIF_In')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Feature Item",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Measurement_QIF_In_Feature",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Characteristic Item",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Feature Item",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Measurement_QIF_In_Characteristic",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute ItemReference",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Characteristic Item",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Measurement_QIF_In_Item_Reference",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-20T16:27:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Measurement_QIF_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Measurement_QIF_In",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/measurementqifin/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('Measurement_QIF_Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Measurement_QIF_In')]"
			]
		}
	]
}